{% extends "content_server/base.html" %}
{% block content %}
<div class="row" style="min-height: 400px">
    <a class="pull-right btn" style="margin-top: 1px" target="_blank" href="/auth/login/douban-oauth2">
        <img src="http://img3.douban.com/pics/douban-icons/login_with_douban_32.png" />
    </a>
    <a class="pull-right btn" style="margin-top: 1px; height: 32px" target="_blank" href="/auth/login/qq">
        <img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/bt_blue_76X24.png" />
    </a>
    <a class="pull-right btn" style="margin-top: 1px" target="_blank" href="/auth/login/weibo">
        <img src="http://www.sinaimg.cn/blog/developer/wiki/32.png" />
    </a>
</div>
{% endblock %}

